# Go binaries and build artifacts
*.exe
*.o
*.a
*.test
out/
bin/

# Node modules
/node_modules


# Logs and temp files
*.log
*.tmp
npm-debug.log*
yarn-debug.log*
yarn-error.log*
__debug_bin*

# Environment files
.env
.env.*
*.local

# IDE and OS files
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Coverage reports
coverage/
coverage.txt

# Dependency lock files
yarn.lock

# Project specific
useful-cookery-api
useful-cookery-cli
