
/* general */

body {
    font-family: Verdana, 'Lucida Grande', Arial, Geneva, sans-serif;
    font-size: 100%;
    margin: 0 auto;
}

.clear {
    clear: left;
}

#content {
    margin: 10px;
}


/* header */

#header {
    width: 100%;
    min-width: 750px;
    color: white;
    background-color: blue;
    white-space: nowrap;
}

#header a:link, #header a:visited {
    color: white;
}

#header .logo {
    display: inline-block;
    width: 40%;
    text-align: center;
    margin: 0 auto;
    padding: 5px 10px;
}

#header .logo .name {
    display: block;
    font-size: 35px;
}

#header .logo .tagline {
    display: block;
    margin-left: 10px;
    font-size: 10px;
    font-style: italic;
}

#header .unitstype {
    display: inline-block;
    float: right;
    white-space: nowrap;
    padding: 10px;
    font-size: 10px;
}


/* navigation bar */

#header .nav {
    display: inline-block;
    float: left;
    white-space: nowrap;
    font-size: 90%;
}

.nav ul {
    margin: 30px 0 0 0;
    padding: 0;
    list-style-type: none;
    list-style-position: inside;
}

.nav li {
    display: inline;
    text-align: center;
    padding: 10px 0;
}

.nav a {
    margin: 0;
    padding: 10px 20px;
    text-decoration: none;
}

#header .nav a:hover {
    color: blue;
    background-color: white;
}


/* content */
#content {
    min-height: 600px;
}


/* footer */

#footer {
    color: white;
    background-color: blue;
    font-size: 10px;
    text-align: center;
    padding: 5px 0;
}

#footer a:link, #footer a:visited {
    color: white;
}
