
.category {
}

.category .header {
    border-bottom: 1px solid black;
    margin: 20px 0;
}

.category .recipes {
    margin-left: 5px;
    font-size: 80%;
    list-style: none;
}

.category .recipes .recipe {
    padding: 3px 0;
}

.category .recipes .recipe .title {
}

.category .recipes .recipe .description {
    font-style: italic;
}

