
.categories {
}

.categories .category {
}

.categories .category .catlink {
}

.categories .category .random {
    content: url('../images/rand-sm.png');
    padding-left: 5px;
    vertical-align: text-bottom;
}

