
/* descriptive information */

.recipe .reference {
    white-space: nowrap;
    text-align: right;
    font-size: 80%;
}

.recipe .reference .category {
    margin: 5px;
}

.recipe .reference .category:before {
    content: "("
}

.recipe .reference .category:after {
    content: ")"
}

.recipe .title {
    white-space: nowrap;
    text-align: center;
    font-size: 120%;
}

.recipe .description {
    margin: 20px 0;
}

.recipe .introduction .line, .recipe .notes .line {
    margin: 20px;
}


.recipe .contributer, .recipe .ratings {
    margin: 20px;
}


.recipe .contributer .line, .recipe .ratings .line {
    margin: 0;
}


/* sections/ingredients/procedures */

.recipe .section .named-section {
    margin-left: 20px;
}

/* these next two are a hack to handle procedures stuck to the last section */
.recipe .section .named-section .procedures {
    margin-left: -20px;
}

.recipe .section .named-section .procedures .header {
    border-bottom: 1px solid black;
}

.recipe .ingredients, .recipe .procedures {
}

.recipe .section .named-section .name {
    display: block;
    border-bottom: 1px solid black;
    margin-top: 20px;
    margin-left: -20px;
    font-size: 110%;
}

.recipe .ingredients .header, .procedures .header {
    margin-top: 20px;
}

.recipe .ingredients .ingredient {
    margin: 10px 25px;
}

.recipe .ingredients .ingredient .item {
    font-style: italic;
}

.recipe .procedures .procedure {
    margin: 10px 15px;
}

